<div class="page-wrapper">
    <div class="content container-fluid">
				
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-md-12 d-flex justify-content-end">
                    <div class="doc-badge me-3">Total Products <span class="ms-1">48</span></div>
                    <a class="btn btn-primary btn-add" href="#addproduct" data-bs-toggle="modal"><i class="feather-plus-square me-1"></i> Add New</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Product List -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header border-bottom-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="card-title">Product List</h5>
                            </div>
                            <div class="col-auto d-flex flex-wrap">
                                <div class="form-custom me-2">
                                    <div id="tableSearch"  class="dataTables_wrapper"></div>
                                </div>
                                <div class="SortBy">
                                    <div class="selectBoxes order-by" data-bs-toggle="dropdown">
                                        <p class="mb-0"><img src="assets/admin/img/icon/sort.png" class="me-2" alt="icon"> Order by </p>
                                        <span class="down-icon"><i class="feather-chevron-down"></i></span>
                                    </div>						  
                                    <div id="checkBox" class="dropdown-menu">
                                        <form>
                                            <p class="lab-title">Order By </p>
                                            <label class="custom_radio w-100">
                                                <input type="radio" name="sort">
                                                <span class="checkmark"></span> ID
                                            </label>
                                            <label class="custom_radio w-100">
                                                <input type="radio" name="sort">
                                                <span class="checkmark"></span> Amount
                                            </label>
                                            <label class="custom_radio w-100 mb-4">
                                                <input type="radio" name="sort">
                                                <span class="checkmark"></span> Date Created
                                            </label>
                                            <p class="lab-title">Sort By</p>
                                            <label class="custom_radio w-100">
                                                <input type="radio" name="sort">
                                                <span class="checkmark"></span> Ascending
                                            </label>
                                            <label class="custom_radio w-100 mb-4">
                                                <input type="radio" name="sort">
                                                <span class="checkmark"></span> Descending
                                            </label>
                                            <button type="submit" class="btn w-100 btn-primary">Apply</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">				
                        <div class="table-responsive">									
                            <table datatable [dtOptions]="dtOptions" class="datatable table table-borderless hover-table" id="data-table">
                                <thead class="thead-light">
                                    <tr>
                                       <th>ID</th>
                                       <th>Product</th>
                                       <th>Category</th>
                                       <th>Date</th>
                                       <th>Amount</th>
                                       <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#4546</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><img class="avatar avatar-img" src="assets/admin/img/products/product1.jpg" alt="User Image"></a>
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><span>Safi Natural Blood Purifier</span> <span>Syrup 200 ml</span></a>
                                            </h2>
                                        </td>
                                        <td>Neuromodulation</td>
                                        <td>12/20/2022</td>
                                        <td>$330.00</td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal" class="text-black">
                                                    <i class="feather-edit-3 me-1"></i> Edit
                                                </a>
                                                <a class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                    <i class="feather-trash-2 me-1"></i> Delete
                                                </a>															
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#8774</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><img class="avatar avatar-img" src="assets/admin/img/products/product2.jpg" alt="User Image"></a>
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><span>Benadrys Cough Syrup </span> <span>100 ml</span></a>
                                            </h2>
                                        </td>
                                        <td>Interventional devices</td>
                                        <td>12/20/2022</td>
                                        <td>$330.00</td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal" class="text-black">
                                                    <i class="feather-edit-3 me-1"></i> Edit
                                                </a>
                                                <a class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                    <i class="feather-trash-2 me-1"></i> Delete
                                                </a>															
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#4546</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><img class="avatar avatar-img" src="assets/admin/img/products/product3.jpg" alt="User Image"></a>
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><span>Natural Syrup for bronchtas</span> <span>200 ml</span></a>
                                            </h2>
                                        </td>
                                        <td>Ventricular assist devices</td>
                                        <td>12/20/2022</td>
                                        <td>$330.00</td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal" class="text-black">
                                                    <i class="feather-edit-3 me-1"></i> Edit
                                                </a>
                                                <a class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                    <i class="feather-trash-2 me-1"></i> Delete
                                                </a>															
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#4546</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><img class="avatar avatar-img" src="assets/admin/img/products/product4.jpg" alt="User Image"></a>
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><span>Safi Natural Blood Purifier</span> <span>Syrup 200 ml</span></a>
                                            </h2>
                                        </td>
                                        <td>surgical systems</td>
                                        <td>12/20/2022</td>
                                        <td>$330.00</td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal" class="text-black">
                                                    <i class="feather-edit-3 me-1"></i> Edit
                                                </a>
                                                <a class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                    <i class="feather-trash-2 me-1"></i> Delete
                                                </a>															
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#5656</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><img class="avatar avatar-img" src="assets/admin/img/products/product5.jpg" alt="User Image"></a>
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><span>Headache pills</span> <span>20 tablets</span></a>
                                            </h2>
                                        </td>
                                        <td>Assist devices</td>
                                        <td>12/20/2022</td>
                                        <td>$330.00</td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal" class="text-black">
                                                    <i class="feather-edit-3 me-1"></i> Edit
                                                </a>
                                                <a class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                    <i class="feather-trash-2 me-1"></i> Delete
                                                </a>															
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#4145</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><img class="avatar avatar-img" src="assets/admin/img/products/product6.jpg" alt="User Image"></a>
                                                <a data-bs-toggle="modal" data-bs-target="#editModal"><span>Natura ayurvedic medicine</span> <span>15 pils</span></a>
                                            </h2>
                                        </td>
                                        <td>Ventricular systems</td>
                                        <td>12/20/2022</td>
                                        <td>$330.00</td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a data-bs-toggle="modal" data-bs-target="#editModal" class="text-black">
                                                    <i class="feather-edit-3 me-1"></i> Edit
                                                </a>
                                                <a class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                    <i class="feather-trash-2 me-1"></i> Delete
                                                </a>															
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div id="tablepagination"  class="dataTables_wrapper"></div>
            </div>
        </div>
        <!-- /Product List -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade contentmodal" id="addproduct" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header">
                <h3 class="mb-0">Add Product</h3>
                <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <form action="product-list.html">
                    <div class="add-wrap">
                        <div class="form-group form-focus focused">
                            <input type="text" class="form-control floating">
                            <label class="focus-label">Product Name <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-group">
                            <select class="form-select">
                                <option>Select Category</option>
                                <option>Pharmacy</option>
                                <option>Hospital</option>
                            </select>
                        </div>
                        <div class="form-group form-focus">
                            <input type="text" class="form-control floating">
                            <label class="focus-label">Price <span class="text-danger">*</span></label>
                        </div>
                        <div class="change-photo-btn">
                            <div><i class="feather-upload"></i>
                            <p>Upload File</p></div>
                            <input type="file" class="upload">
                            <span class="file-upload-text"></span>
                        </div>
                        <p class="file-name text-success">Successfully Product image.jpg uploaded <a href="javascript:void(0)" class="text-danger"><i class="feather-x"></i></a></p>
                        <div class="submit-section">
                            <button type="submit" class="btn btn-primary btn-save">Save Changes</button>
                        </div>								
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
<!-- Modal -->
<div class="modal fade contentmodal" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header">
                <h3 class="mb-0">Edit Product</h3>
                <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="add-wrap">
                        <div class="form-group form-focus focused">
                            <input type="text" class="form-control floating" value="Safi Natural">
                            <label class="focus-label">Product Name <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-group">
                            <select class="form-select">
                                <option>Select Category</option>
                                <option>surgical systems</option>
                                <option selected>Neuromodulation</option>
                            </select>
                        </div>
                        <div class="form-group form-focus focused">
                            <input type="text" class="form-control floating" value="$330.00">
                            <label class="focus-label">Price <span class="text-danger">*</span></label>
                        </div>
                        <div class="change-photo-btn">
                            <div><i class="feather-upload"></i>
                            <p>Upload File</p></div>
                            <input type="file" class="upload">
                            <span class="file-upload-text"></span>
                        </div>
                        <p class="file-name text-success">Successfully Product image.jpg uploaded <a class="text-danger"><i class="feather-x"></i></a></p>
                        <div class="submit-section">
                            <button type="submit" class="btn btn-primary btn-save">Save Changes</button>
                        </div>								
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->

<!-- Modal -->
<div class="modal fade contentmodal" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header border-bottom-0 justify-content-end">
                <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <div class="delete-wrap text-center">
                    <div class="del-icon"><i class="feather-x-circle"></i></div>
                    <h2>Sure you Want to delete</h2>
                    <p>“Product”</p>
                    <div class="submit-section">
                        <a [routerLink]="'/admin/product-list'" class="btn btn-success me-2">Yes</a>
                        <a class="btn btn-danger" data-bs-dismiss="modal">No</a>
                    </div>								
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
<ng-template #addtemplate>
    <div class="modal-content doctor-profile">
        <div class="modal-header">
            <h3 class="mb-0">Add Product</h3>
            <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather-x-circle"></i></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="add-wrap">
                    <div class="form-group form-focus focused">
                        <input type="text" class="form-control floating">
                        <label class="focus-label">Product Name <span class="text-danger">*</span></label>
                    </div>
                    <div class="form-group">
                        <select class="form-select">
                            <option>Select Category</option>
                            <option>Pharmacy</option>
                            <option>Hospital</option>
                        </select>
                    </div>
                    <div class="form-group form-focus">
                        <input type="text" class="form-control floating">
                        <label class="focus-label">Price <span class="text-danger">*</span></label>
                    </div>
                    <div class="change-photo-btn">
                        <div><i class="feather-upload"></i>
                        <p>Upload File</p></div>
                        <input type="file" class="upload">
                        <span class="file-upload-text"></span>
                    </div>
                    <p class="file-name text-success">Successfully Product image.jpg uploaded <a class="text-danger"><i class="feather-x"></i></a></p>
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary btn-save" (click)="save()">Save Changes</button>
                    </div>								
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #edittemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Product</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-center">
        <form>
            <div class="row form-row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file"  class="form-control">
                    </div>
                </div>                
            </div>
        </form>
        <div style="margin-top:25px">
            <button type="button" class="btn btn-success si_accept_confirm" id="btn-yes" (click)="update()" >Update</button>
            <button type="button" class="btn btn-danger si_accept_cancel" (click)="decline()" >Cancel</button>
          </div>
    </div>
</ng-template>
<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-center">
		<p id="acc_msg">Are you sure you want to delete?</p>
      <div style="margin-top:25px">
        <button type="button" class="btn btn-success si_accept_confirm" id="btn-yes" (click)="deleteProduct()" >Yes</button>
        <button type="button" class="btn btn-danger si_accept_cancel" (click)="decline()" >No</button>
      </div>
    </div>
</ng-template>