<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Refund Policy</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Refund Policy</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="terms-content">
          <div class="terms-text">
            <h3>Refund Policy</h3>
            <p>At Being Healer, we are committed to the satisfaction of our clients. This Refund Policy explains the
              terms under which you may be eligible for a refund.</p>
          </div>
          <div class="terms-text">
            <h4>Eligibility for Refund</h4>
            Refunds are processed based on the following criteria:
            <ul>
              <li>If you are not satisfied with your first session, you may be eligible for a full refund.</li>
              <li>Refunds for multi-session packages are available if you cancel within a specified time frame (e.g., 48
                hours before the next session).
              </li>
              <li>No refunds are available once a session has been completed.</li>
            </ul>
          </div>
          <div class="terms-text">
            <h4>Process for Requesting a Refund</h4>
            <p>To request a refund, please contact us within 2 hours of your session. Provide your name, session
              details, and the reason for the refund request.</p>
          </div>
          <div class="terms-text">
            <h4>Refund Processing</h4>
            <p>Refund requests are processed within 7 business days. Refunds are credited to the original method
              of payment.</p>
          </div>
          <div class="terms-text">
            <h4>Late or Missing Refunds</h4>
            <p>If you haven’t received a refund within 7 business days, first check your bank account again.
              Contact your credit card company, as it may take some time before your refund is officially posted. If
              you’ve done this and still have not received your refund, please contact us <a [routerLink]="'/home'" fragment="contactus"> here</a>.</p>
          </div>
          <div class="terms-text">
            <h4>Exceptions</h4>
            <p>Note that certain circumstances may be exempt from refunds. For example, discounted or promotional
              services may not be refundable.</p>
          </div>
          <div class="terms-text">
            <h4>Changes to Our Refund Policy</h4>
            <p>We may update this Refund Policy from time to time. We encourage our clients to review it regularly.</p>
          </div>
          <div class="terms-text">
            <h4>Contact Us</h4>
            <p>If you have any questions about our Refund Policy, please contact us us <a [routerLink]="'/home'" fragment="contactus"> here</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /Page Content -->
