<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">About Us</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="terms-content">
          <div class="terms-text">
            <h3>About Being Healer</h3>
            <p>Welcome to Being Healer, a sanctuary for holistic well-being and spiritual growth. Founded by Anita
              Sachdeva, a certified clinical hypnotherapist and Reiki master, our center specializes in various
              therapeutic modalities aimed at nurturing the mind, body, and spirit.</p>
          </div>
          <div class="terms-text">
            <h4>Anita Sachdeva: Our Founder</h4>
            <p>With over 20 years of experience, Anita has been a guiding force in the educational sector and spiritual
              healing. Her journey in spirituality and leadership roles has profoundly impacted many lives. As a Reiki
              master and clinical hypnotherapist, Anita has helped numerous individuals achieve inner peace and overcome
              mental, emotional, and spiritual challenges.</p>
          </div>
          <div class="terms-text">
            <h4>Our Expertise</h4>
            <p>Being Healer is renowned for its expertise in <strong>Hypnotherapy, Past Life Regression Therapy,
              Ancestral Healing, Family Constellation, Inner Child Therapy, Reiki Healing, Crystal Healing, Sound
              Therapy, Breathwork,</strong> and <strong>Color Therapy</strong>. Our services are tailored to meet the
              unique needs of each client, ensuring a personalized healing experience.</p>
          </div>
          <div class="terms-text">
            <h4>Our Mission</h4>
            <p>Our mission is to empower individuals on their healing journey. Anita's personal transformation through
              hypnotherapy inspires our approach. We are committed to teaching techniques for stress relief, inner
              strength, and serenity, customizing each session for optimal healing and growth.</p>
          </div>
          <div class="terms-text">
            <h4>Training and Certification</h4>
            <p>Being Healer offers comprehensive training courses in clinical hypnotherapy, accredited by GHSC.
              Therapists can also register with the GHR register, gaining recognized qualifications and practical skills
              for a career in holistic healing.</p>
          </div>
          <div class="terms-text">
            <h4>Join Our Healing Journey</h4>
            <p>Join us at Being Healer for a transformative experience. Whether seeking healing or aspiring to become a
              practitioner, our doors are open for your journey towards inner harmony and professional development in
              the healing arts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /Page Content -->
