<div class="page-header" data-parallax="true" style="background-image: url('../../assets/images/healer.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Being healer</h1>
            <h3>It is time for a better life. Convenient, affordable, private online counseling anytime, anywhere.</h3>
            <br />
          <!--  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>-->
            <button type="button" class="btn btn-outline-neutral btn-round">Get started</button>

        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">What is being healer</h2>
                <h5 class="description">Being healer is online healing platform worldwide.We change the way people get help with facing life's challenges by providing convenient, discreet and affordable access to licensed healers.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">It's professional.</h4>
                        <p class="description">All healers are licensed, accredited professionals. Being healer allows you to connect with them in a safe and private online environment. Anything you share is confidential..</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">It's affordable.</h4>
                        <p>Pay a low flat fee for unlimited sessions with your healer. Healing doesn't have to be expensive.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">It's convenient.</h4>
                        <p>Do it at your own time and at your own pace. Communicate with your healer as often as you want and whenever you feel it's needed. Help is available at your time and your place.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        <!--    <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Meet our healers</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/images/faces/anita.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Anita Sachdeva</h4>
                                <h6 class="card-category">Clinical hypnotherapist, Life coach and Certified Redikall therapist</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                          Hypnosis (the auto-pilot, daydreaming state we all experience daily) by itself is unlikely to cause a relief of issues, although it rarely fails to provide welcomed relaxation and stress relief. It is the 'therapy' carried out during the altered state of awareness referred to as hypnotherapy that is significant.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/images/faces/anita.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                          <div class="author">
                            <h4 class="card-title">Anita Sachdeva</h4>
                            <h6 class="card-category">Clinical hypnotherapist, Life coach and Certified Redikall therapist</h6>
                          </div>
                        </a>
                      <p class="card-description text-center">
                        Hypnosis (the auto-pilot, daydreaming state we all experience daily) by itself is unlikely to cause a relief of issues, although it rarely fails to provide welcomed relaxation and stress relief. It is the 'therapy' carried out during the altered state of awareness referred to as hypnotherapy that is significant.
                      </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/images/faces/anita.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                          <div class="author">
                            <h4 class="card-title">Anita Sachdeva</h4>
                            <h6 class="card-category">Clinical hypnotherapist, Life coach and Certified Redikall therapist</h6>
                          </div>
                        </a>
                      <p class="card-description text-center">
                        Hypnosis (the auto-pilot, daydreaming state we all experience daily) by itself is unlikely to cause a relief of issues, although it rarely fails to provide welcomed relaxation and stress relief. It is the 'therapy' carried out during the altered state of awareness referred to as hypnotherapy that is significant.
                      </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#anita" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Contact us</h2>
                    <form class="contact-form">
                       <!-- <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div> -->
                      <div class="row">
                        <div class="col-md-6">
                          <label>Email</label>
                        </div>
                        <div class="col-md-6">
                          <label>help@beinghealer.com</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Phone number</label>
                        </div>
                        <div class="col-md-6">
                          <label>+91-9560387009</label>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
