<!-- Footer -->
<footer class="footer">

	<!-- Footer Top -->
	<div class="footer-top">
	  <div class="container">
		<div class="row">
		  <div class="col-12 col-md-12 col-lg-12">
			<div class="footer-logo">
			  <a [routerLink]="'/'">Doccure-Physio</a>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-lg-6 col-md-6">
  
			<!-- Footer Widget -->
			<div class="footer-widget footer-about">
			  <div class="footer-about-content">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudant Sed ut perspiciatis unde omnis iste natus error sit voluptatem acc usantium dolo remque laudant, Sed ut perspiciatis unde omnis iste natus error sit dolo remque laudant Sed ut unde omnis iste natus error sit. </p>
  
			  </div>
			</div>
			<!-- /Footer Widget -->
  
		  </div>
  
		  <div class="col-lg-6 col-md-6">
  
			<!-- Footer Widget -->
			<div class="search-holder">
			  <input type="text" name="search" placeholder="Email Id">
			  <button class="btn btn-sub">Subscribe</button>
			</div>
			<!-- /Footer Widget -->
			<div class="social-icon media-btn mt-3">
			  <ul>
				<li>
				  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
				</li>
				<li>
				  <a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a>
				</li>
				<li>
				  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
				</li>
				<li>
				  <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
				</li>
			  </ul>
			</div>
  
		  </div>
  
		</div>
	  </div>
	</div>
	<!-- /Footer Top -->
  
	<!-- Footer Bottom -->
			<div class="footer-bottom">
	  <div class="container">
  
		<!-- Copyright -->
		<div class="copyright">
		  <div class="row">
			<div class="col-md-6 col-lg-6">
  
			  <!-- Copyright Menu -->
			  <div class="copyright-menu">
				<ul class="policy-menu">
				  <li><a [routerLink]="'/terms-conditions'">Terms & Conditions</a></li>
				  <li><a [routerLink]="'/privacy-policy'">Privacy Policy</a></li>
				</ul>
			  </div>
			  <!-- /Copyright Menu -->
  
			</div>
			<div class="col-md-6 col-lg-6">
			  <div class="copyright-text text-end">
				<p class="mb-0">&copy; 2020 <span class="text-red">Doccure-Physio </span>All Rights Reserved.</p>
			  </div>
			</div>
		  </div>
		</div>
		<!-- /Copyright -->
  
	  </div>
	</div>
	<!-- /Footer Bottom -->
  
  </footer>
  <!-- /Footer -->
