<!-- Home Banner -->
<section class="section home-banner">
	<div class="container-fluid">
		<div class="row banner-wrapper">
			<div class="col-md-5">
				<div class="banner-header">
					<h1>Great Sight For Healthy Lifestyle!</h1>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<button class="btn btn-primary mt-4" (click)="bookappointment();">Make an Appointment</button>
				</div>
				<a [routerLink]="'/patients/search-doctor'" class="see-doc">See Our Doctors <i class="fas fa-arrow-circle-right"></i></a>
			</div>

			<div class="col-md-7">
				<div class="video-bg-img video-class" data-video-id="pJ61K33EBkI" data-video-format="youtube">
					<img src="assets/img/banner-video.png" alt=".." class="img-fluid w-100">
					<span class="play-btn">
						<i class="fas fa-play"></i>
					</span>
				</div>
				<div class="media d-flex">
					<i class="fas fa-calendar-check"></i>
					<div class="media-body flex-grow-1">
					  <h5 class="mt-0">Opening Hours</h5>
					  <p>Mon - Fri : 09.00 AM to 05.00 PM </p>
					  <p>Closed on Sunday</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Home Banner -->

<!-- Our Special Services -->
<section class="section section-special-services">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div>
					<h2 class="section-title">Our Special Services For You</h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto accusantium beatae vitae dicta sunt explicabo, sed ut perspic iatis unde omnis iste natus error sit voluptatem accusa ntium accusantium.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div>
						<img src="assets/img/icon-1.png" alt="Service Image" class="img-fluid" />
					</div>								
					<h3>Diagnosis and treatment</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div>
						<img src="assets/img/icon-2.png" alt="Service Image" class="img-fluid" />
					</div>								
					<h3>Eye examination</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div>
						<img src="assets/img/icon-3.png" alt="Service Image" class="img-fluid" />
					</div>								
					<h3>Laser eye correction</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div>
						<img src="assets/img/icon-4.png" alt="Service Image" class="img-fluid" />
					</div>								
					<h3>Evaluating eye coordination</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div>
						<img src="assets/img/icon-5.png" alt="Service Image" class="img-fluid" />
					</div>								
					<h3>Contact lenses</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo remque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Our Special Services -->

			<!-- Our Doctors -->
			<section class="section our-doctors">
				<div class="container">
					<div class="text-center">
						<h2 class="section-title">Our Doctors</h2>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
					</div>
					<div class="doctor-slider slider">
						<ngx-slick-carousel class="carousel" #slickModal3="slick-carousel" [config]="slideConfig3">
                            <div ngxSlickItem *ngFor="let slide of slides">
								<!-- Doctor Widget -->
								<div class="doc-profile-widgets">
									<div class="doc-image-show">
										<img src="{{slide.img}}" class="img-fluid" alt=".."/>
									</div>
									<div class="card">							
										<div class="pro-content">
											<h3 class="title">
												<a [routerLink]="'/patients/doctor-profile'">{{slide.name}}</a>
											</h3>
											<p class="speciality">{{slide.degree}}</p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="far fa-star filled"></i>
												<span class="d-inline-block average-rating">{{slide.reviews}}</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i>{{slide.address}}
												</li>
												<li>
													<i class="fas fa-calendar-check"></i> {{slide.date}}
												</li>
												<li>
													<i class="fas fa-wallet"></i> {{slide.amount}}
												</li>
											</ul>
										</div>
										<div class="card-btn">
											<a [routerLink]="'/patients/doctor-profile'" class="btn btn-view">
												View Profile
											</a>
											<a [routerLink]="'/patients/booking'" class="btn btn-book-now">
												Book Now
											</a>
										</div>
									</div>
								</div>
								<!-- /Doctor Widget -->
                            </div>
                        </ngx-slick-carousel>	
					</div>
				</div>
			</section>
			<!-- /Our Doctors -->

<!-- Our Client Say's -->
<section class="client-says">
	<div class="container">
		<div class="text-center w-80">
			<h2 class="section-title">Our Client Say's</h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto accusantium beatae.</p>
		</div>

		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<ol class="carousel-indicators">
			  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
			  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
			  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<!-- Item 1 -->
				  <div class="carousel-item active">
					  <div class="card-testi">
						<img src="assets/img/testimonial/testi-01.png" class="d-block" alt="...">
						<h4>John Smith</h4>
						<div class="rating">
							<i class="fas fa-star filled"></i>
							<i class="fas fa-star filled"></i>
							<i class="fas fa-star filled"></i>
							<i class="fas fa-star filled"></i>
							<i class="far fa-star filled"></i>
						</div>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto accusantium beatae.</p>
					  </div>							
				</div>
				<!-- Item 2 -->
				<div class="carousel-item">
					<div class="card-testi">
					  <img src="assets/img/testimonial/testi-02.png" class="d-block" alt="...">
					  <h4>Gloria Smith</h4>
					  <div class="rating">
						  <i class="fas fa-star filled"></i>
						  <i class="fas fa-star filled"></i>
						  <i class="fas fa-star filled"></i>
						  <i class="far fa-star filled"></i>
						  <i class="far fa-star filled"></i>
					  </div>
					  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve ntore veritatis et quasi architecto accusantium beatae.</p>
					</div>							
			  </div>
			  
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</a>
		</div>
	</div>
</section>
<!-- /Our Client Say's -->

<!-- Contact Us -->
<section class="contact-us">
	<div class="container">
							
		<div class="row">
			<div class="col-md-7">
				
				<div class="map-view">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26373919.386353854!2d-113.76666163476126!3d36.203706779654745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1606988919902!5m2!1sen!2sin"></iframe>
				</div>
			</div>
			<div class="col-md-5">
				<h2 class="section-title">Let's Contact Us</h2>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
				<div class="loc-details">
					<ul>
						<li>
							<i class="fas fa-phone-alt"></i>
							<span>(810) 658-1649</span>
						</li>
						<li>
							<i class="fas fa-map-marker-alt"></i>
							<span>300 S Main St #APT 208, Davison, MI, 48423</span>
						</li>
					</ul>
				</div>

				<h2 class="section-title mt-4">Working Hours</h2>
				<div class="loc-details">
					<ul class="mb-0">
						<li class="d-flex justify-content-between">
							<span>Monday</span>
							<span>09:00 am to 05:00 pm</span>
						</li>
						<li class="d-flex justify-content-between">
							<span>Tuesday</span>
							<span>09:00 am to 05:00 pm</span>
						</li>
						<li class="d-flex justify-content-between">
							<span>Wednesday</span>
							<span>09:00 am to 05:00 pm</span>
						</li>
						<li class="d-flex justify-content-between">
							<span>Thursday</span>
							<span>09:00 am to 05:00 pm</span>
						</li>
						<li class="d-flex justify-content-between">
							<span>Friday</span>
							<span>09:00 am to 05:00 pm</span>
						</li>
						<li class="d-flex justify-content-between">
							<span>Saturday</span>
							<span>09:00 am to 05:00 pm</span>
						</li>
						<li class="d-flex justify-content-between">
							<span>Sunday</span>
							<span>Closed</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Contact Us -->					

