<footer class="footer footer-2 footer-five">
                
               
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-2 col-md-6">
                
                   
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Quick Links</h2>
                        <ul>
                            <li><a>About Us</a></li>
                            <li><a>Our Mission</a></li>
                            <li><a>Our Approach</a></li>
                            <li><a>Our History</a></li>
                            <li><a>Awards And Achievements</a></li>
                            <li><a>Careers</a></li>
                            <li><a>Appointment</a></li>
                            <li><a>Facilities</a></li>
                            <li><a>Pricing Plans</a></li>
                        </ul>
                    </div>
                  
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                   
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/footer-logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="footer-widget footer-contact mt-4">
                            <h2 class="footer-title">Our Location</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    +1 315 369 5943
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    doccure@example.com
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                  
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Services</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><a>Cardiology</a></li>
                                    <li><a>Diabetes</a></li>
                                    <li><a>Plastic Surgery</a></li>
                                    <li><a>Gastroenterology</a></li>
                                    <li><a>Gynecology</a></li>
                                    <li><a>Hepatology</a></li>
                                    <li><a>Neurology</a></li>
                                    <li><a>Radiology</a></li>
                                    <li><a>Rhinology</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><a>Obstetrics</a></li>
                                    <li><a>Ophthalmology</a></li>
                                    <li><a>Oral Health</a></li>
                                    <li><a>Orthopedics</a></li>
                                    <li><a>Osteology</a></li>
                                    <li><a>Otology</a></li>
                                    <li><a>Pediatrics</a></li>
                                    <li><a>Psychiatry</a></li>
                                    <li><a>Pulmonology</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                    
                </div>
                
                <div class="col-lg-2 col-md-6">
                
                    
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Patients</h2>
                        <ul>
                            <li><a [routerLink]="'/patients/search-doctor'">Search for Doctors</a></li>
                            <li><a [routerLink]="'/login'">Login</a></li>
                            <li><a [routerLink]="'/register'">Register</a></li>
                            <li><a [routerLink]="'/patients/booking'">Booking</a></li>
                            <li><a [routerLink]="'/patients/dashboard'">Patient Dashboard</a></li>
                        </ul>
                    </div>
                    
                    
                </div>
                
                <div class="col-lg-2 col-md-6">
                
                    
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Doctors</h2>
                        <ul>
                            <li><a [routerLink]="'/doctors/appointments'">Appointments</a></li>
                            <li><a [routerLink]="'/doctors/message'">Chat</a></li>
                            <li><a [routerLink]="'/login'">Login</a></li>
                            <li><a [routerLink]="'/register'">Register</a></li>
                            <li><a [routerLink]="'/doctors/dashboard'">Doctor Dashboard</a></li>
                        </ul>
                    </div>
                  
                    
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container-fluid">
        
            
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2020 <span>Doccure</span>. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                    
                        
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a [routerLink]="'/pages/terms-conditions'">Terms and Conditions</a></li>
                                <li><a [routerLink]="'/pages/privacy-policy'">Policy</a></li>
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
    
</footer>
