<app-home-thirteen-header></app-home-thirteen-header>
<!-- Looking Section Four -->
<section class="looking-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-four text-center aos" data-aos="fade-up">
                    <h2>What are you <span class="color-primary">looking</span> for?</h2>
                </div>
            </div>
        </div>
        <div class="row looking-row justify-content-center aos" data-aos="fade-up">
            <div class="col-lg-4 col-md-6 looking-col d-flex">
                <div class="looking-grid-four w-100">
                    <div class="looking-box-four">
                        <div class="looking-inner-box">
                            <div class="looking-info-four">
                                <a [routerLink]="'/patients/search-doctor'">
                                    <i class="fas fa-user-md me-2"></i> Visit a Doctor
                                </a>
                                <p>We hire the best specialists to deliver top-notch diagnostic services for you diagnostic services for you.</p>
                            </div>
                            <div class="looking-four-btn">
                                <a [routerLink]="'/patients/booking'">
                                    Book Now <i class="fas fa-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex looking-col">
                <div class="looking-grid-four w-100">
                    <div class="looking-box-four">
                        <div class="looking-inner-box">
                            <div class="looking-info-four">
                                <a [routerLink]="'../pharmacy/pharmacy-search'">
                                    <i class="fas fa-tablets me-2"></i> Find a Pharmacy
                                </a>
                                <p>We provide the a wide range of medical services, so every person could have the opportunity.</p>
                            </div>
                            <div class="looking-four-btn">
                                <a [routerLink]="'../pharmacy/pharmacy-search'">
                                    Find Now <i class="fas fa-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex looking-col">
                <div class="looking-grid-four w-100">
                    <div class="looking-box-four">
                        <div class="looking-inner-box">
                            <div class="looking-info-four">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-vial me-2"></i> Find a Lab
                                </a>
                                <p>We use the first-class medical equipment for timely diagnostics of various diseases.</p>
                            </div>
                            <div class="looking-four-btn">
                                <a [routerLink]="'/patients/booking'">
                                    Book Now <i class="fas fa-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Looking Section Four -->

<!-- Clinic Section Four -->
<section class="clinic-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-four text-center aos" data-aos="fade-up">
                    <h2>Clinic & <span class="color-primary">Specialities</span></h2>
                    <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="clinic-grid-four w-100">
                    <div class="clinic-img">
                        <img src="assets/img/clinic/clinic-11.jpg" class="img-fluid clinic-image" alt="">
                        <div class="clinic-content">
                            <h4>Urology</h4>
                        </div>
                        <div class="clinic-icon-inner">
                            <div class="clinic-box-img">
                                <img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="clinic-cricle">
                            <div class="clinic-round">
                                <img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <h4>Urology</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="clinic-grid-four w-100">
                    <div class="clinic-img">
                        <img src="assets/img/clinic/clinic-12.jpg" class="img-fluid clinic-image" alt="">
                        <div class="clinic-content">
                            <h4>Orthopedic</h4>
                        </div>
                        <div class="clinic-icon-inner">
                            <div class="clinic-box-img">
                                <img src="assets/img/icons/icon7.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="clinic-cricle">
                            <div class="clinic-round">
                                <img src="assets/img/icons/icon7.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <h4>Orthopedic</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="clinic-grid-four w-100">
                    <div class="clinic-img">
                        <img src="assets/img/clinic/clinic-13.jpg" class="img-fluid clinic-image" alt="">
                        <div class="clinic-content">
                            <h4>Dentist</h4>
                        </div>
                        <div class="clinic-icon-inner">
                            <div class="clinic-box-img">
                                <img src="assets/img/icons/icon4.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="clinic-cricle">
                            <div class="clinic-round">
                                <img src="assets/img/icons/icon4.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <h4>Dentist</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="clinic-grid-four w-100">
                    <div class="clinic-img">
                        <img src="assets/img/clinic/clinic-14.jpg" class="img-fluid clinic-image" alt="">
                        <div class="clinic-content">
                            <h4>Cardiologist</h4>
                        </div>
                        <div class="clinic-icon-inner">
                            <div class="clinic-box-img">
                                <img src="assets/img/icons/icon3.svg" class="img-fluid clinic-inner-heart" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="clinic-cricle">
                            <div class="clinic-round">
                                <img src="assets/img/icons/icon3.svg" class="img-fluid clinic-heart-img" alt="">
                            </div>
                        </div>
                        <h4>Cardiologist</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="clinic-grid-four w-100">
                    <div class="clinic-img">
                        <img src="assets/img/clinic/clinic-15.jpg" class="img-fluid clinic-image" alt="">
                        <div class="clinic-content">
                            <h4>MRI Scans</h4>
                        </div>
                        <div class="clinic-icon-inner">
                            <div class="clinic-box-img">
                                <img src="assets/img/icons/icon8.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="clinic-cricle">
                            <div class="clinic-round">
                                <img src="assets/img/icons/icon8.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <h4>MRI Scans</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="clinic-grid-four w-100">
                    <div class="clinic-img">
                        <img src="assets/img/clinic/clinic-16.jpg" class="img-fluid clinic-image" alt="">
                        <div class="clinic-content">
                            <h4>Neurology</h4>
                        </div>
                        <div class="clinic-icon-inner">
                            <div class="clinic-box-img">
                                <img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="clinic-cricle">
                            <div class="clinic-round">
                                <img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <h4>Neurology</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="clinic-grid-four w-100">
                    <div class="clinic-img">
                        <img src="assets/img/clinic/clinic-17.jpg" class="img-fluid clinic-image" alt="">
                        <div class="clinic-content">
                            <h4>Laboratory</h4>
                        </div>
                        <div class="clinic-icon-inner">
                            <div class="clinic-box-img">
                                <img src="assets/img/icons/icon10.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="clinic-cricle">
                            <div class="clinic-round">
                                <img src="assets/img/icons/icon10.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <h4>Laboratory</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="clinic-grid-four w-100">
                    <div class="clinic-img">
                        <img src="assets/img/clinic/clinic-18.jpg" class="img-fluid clinic-image" alt="">
                        <div class="clinic-content">
                            <h4>Primary Checkup</h4>
                        </div>
                        <div class="clinic-icon-inner">
                            <div class="clinic-box-img">
                                <img src="assets/img/icons/icon11.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="clinic-cricle">
                            <div class="clinic-round">
                                <img src="assets/img/icons/icon11.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <h4>Primary Checkup</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Clinic Section Four -->

<!-- Doctor Section Four -->
<section class="doctor-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-four text-center aos" data-aos="fade-up">
                    <h2 class="title-four">Book Our <span class="color-primary">Best Doctor</span></h2>
                    <p class="sub-title color-grey">Access to expert physicians and surgeons, advanced technologies and top-quality surgery facilities right here.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 aos" data-aos="fade-up">
                <div class="best-doctors-slider slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigure">
                        <div class="slick-slide" *ngFor="let doctor of doctorslide">
                            <div ngxSlickItem>
                                <div class="best-doctors-grid">
                                    <div class="best-doctors-img">
                                        <a [routerLink]="'/patients/doctor-profile'">
                                            <img src="{{doctor.img}}" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="best-doctors-info">
                                        <h3><a [routerLink]="'/patients/doctor-profile'">{{doctor.doctor_name}}</a></h3>
                                        <p class="doctor-posting">{{doctor.degree}}</p>
                                        <h5 class="doctors-amount">{{doctor.price}}</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">4.9 ( {{doctor.rating}} )</span>
                                        </div>
                                        <div class="booking-btn">
                                            <a [routerLink]="'/patients/booking'" class="btn">
                                                <span>
                                                    Book Appointment <i class="fas fa-arrow-right ms-2"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Doctor Section Four -->

<!-- Features Clinic Four -->
<section class="features-clinic-four">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-four text-center aos" data-aos="fade-up">
                    <h2 class="title-four">Available Features <span class="color-primary">in Our Clinic</span></h2>
                    <p class="sub-title color-grey">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="clinic-big-img aos" data-aos="fade-up">
                    <img src="assets/img/clinic/clinic-big-img.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <owl-carousel-o [options]="clinicslidesOptions" class="features-clinic-slider-four aos" data-aos="fade-up"> 
                    <ng-container *ngFor="let slide of clinicslides" >
                        <ng-template carouselSlide>
                            <div class="item">
                                <div class="features-clinic-grid">
                                    <div class="features-clinic-img">
                                        <img src="{{slide.img}}" alt="" class="img-fluid">
                                    </div>
                                    <div class="feature-clinic-overlay">
                                        <p>{{slide.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                        <div class="owl-nav slide-nav-8 nav-control"></div>
                        <div class="float-end">
                            <div class="text-end">
                                <a href="javascript:void(0)" class="btn btn-one">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Features Clinic Four -->

<!-- Blog Section Four -->
<section class="blog-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-four text-center aos" data-aos="fade-up">
                    <h2 class="title-four">Our Latest <span class="color-primary">Blogs</span></h2>
                    <p class="sub-title color-grey">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="grid-blog-four w-100">
                    <div class="grid-blog-image">
                        <a [routerLink]="'/blog/blog-details'">
                            <img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="News Image">
                        </a>
                        <div class="blog-title-four">
                            <a [routerLink]="'/blog/blog-details'" class="btn">Health</a>
                        </div>
                        <div class="blog-date-four">
                            <a href="javascript:void(0)">
                                <i class="feather-calendar me-2"></i>
                                <span>4 Jan 2022</span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-info-four">
                        <a [routerLink]="'/blog/blog-details'">How to handle patient body in MRI</a>
                    </div>
                    <div class="blog-doctors-four">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="me-2"><span>Dr. Ruby Perrin</span>
                                </a>
                            </div>
                            <div>
                                <p>Urology</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-four-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="blog-four-arrow">
                        <a [routerLink]="'/blog/blog-details'">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="grid-blog-four w-100">
                    <div class="grid-blog-image">
                        <a [routerLink]="'/blog/blog-details'">
                            <img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="News Image">
                        </a>
                        <div class="blog-title-four">
                            <a [routerLink]="'/blog/blog-details'" class="btn">General</a>
                        </div>
                        <div class="blog-date-four">
                            <a href="javascript:void(0)">
                                <i class="feather-calendar me-2"></i>
                                <span>13 Feb 2022</span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-info-four">
                        <a [routerLink]="'/blog/blog-details'">Doccure – Making your clinic painless visit?</a>
                    </div>
                    <div class="blog-doctors-four">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="" class="me-2"><span>Dr. Darren Elder</span>
                                </a>
                            </div>
                            <div>
                                <p>Surgery</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-four-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="blog-four-arrow">
                        <a [routerLink]="'/blog/blog-details'">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="grid-blog-four w-100">
                    <div class="grid-blog-image">
                        <a [routerLink]="'/blog/blog-details'">
                            <img class="img-fluid" src="assets/img/blog/blog-04.jpg" alt="News Image">
                        </a>
                        <div class="blog-title-four">
                            <a [routerLink]="'/blog/blog-details'" class="btn">Neurology</a>
                        </div>
                        <div class="blog-date-four">
                            <a href="javascript:void(0)">
                                <i class="feather-calendar me-2"></i>
                                <span>26 Mar 2022</span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-info-four">
                        <a [routerLink]="'/blog/blog-details'">Benefits of consulting with an Online Doctor</a>
                    </div>
                    <div class="blog-doctors-four">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a [routerLink]="'/patients/doctor-profile'">
                                    <img src="assets/img/doctors/doctor-thumb-03.jpg" alt="" class="me-2">	<span>Dr. Angel</span>
                                </a>
                            </div>
                            <div>
                                <p>Cardiology</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-four-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="blog-four-arrow">
                        <a [routerLink]="'/blog/blog-details'">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a [routerLink]="'/blog/blog-details'" class="btn btn-one">View More</a>
        </div>
    </div>
</section>
<!-- /Blog Section Four -->
<app-home-thirteen-footer></app-home-thirteen-footer>
