<!-- Footer -->
			<footer class="footer">
				<div class="container">
					<div class="footer-top">
						<img src="assets/img/logo.png" alt="Logo" class="img-fluid">

						<div class="social-icons">
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>

						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Your Email" [(ngModel)]="email">
							<button class="btn btn-primary" type="button" (click)="sendMessage()">Subscribe</button>
						</div>

						<ul class="footer-nav">
							<li>
								<a [routerLink]="'patients/search-doctor'">Doctors</a>
							</li>
							<li>
								<a [routerLink]="'doctor/patients'">Patients</a>
							</li>
							<li>
								<a [routerLink]="'blog'">Blogs</a>
							</li>
							<li>
								<a [routerLink]="'login-page'">Login</a>
							</li>
							<li>
								<a [routerLink]="'terms-conditions'">Terms & Conditions</a>
							</li>
							<li>
								<a [routerLink]="'privacy-policy'">Privacy Policy</a>
							</li>
						</ul>
					</div>

					<div class="footer-bottom">
						<p>© 2020 Doccure | All Rights Reserved.</p>
					</div>
				</div>
			</footer>
			<!-- /Footer -->
