  <div class="container-fluid" [style.background-image]="sanitizeImage('/assets/images/healer.jpg') ">
    <h1 class="display-3"><i class="fa fa-magic"></i> {{title}}</h1>
    <p class="lead">It is time for a better life. Convenient, affordable, private online counseling anytime, anywhere.</p>
    <hr class="my-4">
    <div class="btm-rt">
    <p>Talk with a licensed, professional therapist online.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Contact us</a>
    </p>
    </div>
  </div>
