.container-fluid {
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left 150px;
}

.btm-rt {
  position: absolute;
  bottom: 150px;
  right: 50px;
}
