<div class="page-wrapper">

    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <h3 class="page-title">Blog</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink = "/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Blog</li>
                    </ul>
                </div>
                <div class="col-sm-5 col">
                    <a  (click)="openModal(template)"
                        class="btn btn-primary float-end mt-2">Add</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>createdAt</th>
                                        <th>createdBy</th>
                                        <th class="text-end">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let blog of blogs;let i=index">
                                        <td>{{i+1}}</td>

                                        <td>
                                            <h2 class="table-avatar">
                                              {{blog.title}}
                                            </h2>
                                        </td>
                                        <td>
                                           {{blog.type}}
                                        </td>
                                        <td>
                                           {{blog.createdAt | date : "dd MMM yyyy"}}
                                        </td>
                                        <td>
                                           {{blog.createdBy}}
                                        </td>

                                        <td class="text-end">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" data-bs-toggle="modal"
                                                    (click)="editModal(edittemplate,blog)">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a data-bs-toggle="modal" (click)="deleteModal(delete,blog)"
                                                    class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title">Add Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row form-row">
                <div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="speciality" [(ngModel)]="title">
                    </div>
                </div>
                 <div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" name="type" [(ngModel)]="type">
                    </div>
                </div>
              <div class="col-12 col-sm-12">
                <div class="form-group">
                  <label>Banner image</label>
                  <div class="blog-image">
                    <a href="javascript:void(0);"><img src="{{img}}" *ngIf="img" class="img-fluid"></a>
                  </div>
                  <label class="form-label" for="saveFile">Upload the image</label>
                  <input type="file" class="form-control" id="saveFile" (change)="onFileChange($event)" />
                </div>
              </div>
              <div class="col-12 col-sm-12">
                <div class = "form-group">Description</div>
                <quill-editor [(ngModel)]="description"></quill-editor>
              </div>

            </div>
            <button type="submit" class="btn btn-primary w-100" (click)="save()">Save Changes</button>
        </form>
    </div>
</ng-template>

<ng-template #edittemplate>
    <div class="modal-header">
        <h5 class="modal-title">Edit Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row form-row">
                <div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="speciality" [(ngModel)]="title">
                    </div>
                </div>
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <label>Type</label>
                  <input type="text" class="form-control" name="type" [(ngModel)]="type">
                </div>
              </div>
              <div class="col-12 col-sm-12">
                <div class="form-group">
                  <label>Banner image</label>
                  <div class="blog-image">
                    <a href="javascript:void(0);"><img src="{{img}}" *ngIf="img" class="img-fluid"></a>
                  </div>
                  <label class="form-label" for="editFile">Change the image</label>
                  <input type="file" class="form-control" id="editFile" (change)="onFileChange($event)" />
                  </div>
              </div>
                <div class="col-12 col-sm-12">
                  <div class = "form-group">Description</div>
                  <quill-editor [(ngModel)]="description"></quill-editor>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" (click)="update()">Edit</button>
        </form>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>
    <div class="modal-body text-center">
      Are you sure want to delete this speciality?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" (click)="deleteBlog()" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
      </div>
    </div>
</ng-template>
