.view-btn {
    color:  #f79a6f;
    font-size: 13px;
    border: 2px solid  #f79a6f;
    text-align: center;
    display: block;
    font-weight: 500;
    padding: 6px;
}
.book-btn {
    background-color: #019b87b;
    border: 2px solid #019b87;
    color: #fff;
    font-size: 13px;
    text-align: center;
    display: block;
    font-weight: 500;
    padding: 6px;
}
.favorite {
    background: #fb1612;
    color: #fff;
}