<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="card-title">Dependent</h3>
            </div>
            <div class="col-sm-6">
                <div class="text-end">
                    <a href="#modal_form" data-bs-toggle="modal" class="btn btn-primary btn-sm" tabindex="0">Add Dependent</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body ">

        <!-- Dependent Tab -->
        <div class="card card-table mb-0">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Dependent</th>
                                <th>Relationship</th>
                                <th>gender</th>
                                <th>Number</th>
                                <th>Blood Group</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <span class="avatar avatar-sm me-2">
                                            <img class="avatar-img rounded-circle" src="assets/img/patients/patient19.jpg" alt="User Image">
                                        </span>
                                        Christopher
                                    </h2>
                                </td>
                                <td>Son</td>
                                <td>Male</td>
                                <td>303-297-6170</td>
                                <td>AB+</td>
                                <td>
                                    <div class="table-action">
                                        <a href="#edit_form" class="btn btn-sm bg-info-light" data-bs-toggle="modal">	<i class="fas fa-edit"></i> Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light"><i class="fas fa-times"></i> Deactive</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <span class="avatar avatar-sm me-2">
                                            <img class="avatar-img rounded-circle" src="assets/img/patients/patient18.jpg" alt="User Image">
                                        </span>
                                        Tressie
                                    </h2>
                                </td>
                                <td>Daughter</td>
                                <td>Female</td>
                                <td>360-822-9097</td>
                                <td>B+</td>
                                <td>
                                    <div class="table-action">
                                        <a href="#edit_form" class="btn btn-sm bg-info-light" data-bs-toggle="modal">	<i class="fas fa-edit"></i> Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light"><i class="fas fa-times"></i> Deactive</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <span class="avatar avatar-sm me-2">
                                            <img class="avatar-img rounded-circle" src="assets/img/patients/patient16.jpg" alt="User Image">
                                        </span>
                                        Champagne
                                    </h2>
                                </td>
                                <td>Father</td>
                                <td>Male</td>
                                <td>720-841-8299</td>
                                <td>B+</td>
                                <td>
                                    <div class="table-action">
                                        <a href="#edit_form" class="btn btn-sm bg-info-light" data-bs-toggle="modal">	<i class="fas fa-edit"></i> Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light"><i class="fas fa-times"></i> Deactive</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <span class="avatar avatar-sm me-2">
                                            <img class="avatar-img rounded-circle" src="assets/img/patients/patient17.jpg" alt="User Image">
                                        </span>
                                        Vena
                                    </h2>
                                </td>
                                <td>Mother</td>
                                <td>Male</td>
                                <td>949-583-4370</td>
                                <td>A+</td>
                                <td>
                                    <div class="table-action">
                                        <a href="#edit_form" class="btn btn-sm bg-info-light" data-bs-toggle="modal">	<i class="fas fa-edit"></i> Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light"><i class="fas fa-times"></i> Deactive</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Dependent Tab -->

    </div>
</div>

<!-- Add Dependent Modal-->
<div id="modal_form" class="modal fade custom-modal" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form action="#" enctype="multipart/form-data" autocomplete="off" method="post"> 
				<div class="modal-header">
					<h5 class="modal-title">Add new member</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label mb-10"> Name <span class="text-danger">*</span></label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Relationship </label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Gender </label>
						<select class="form-control form-select">
							<option value="">Select</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label mb-10">DOB </label>
						<input type="text" name="dob" id="dep-dob" value="" readonly="" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Photo </label>
						<input type="file" class="form-control">
					</div>
				</div>
				<div class="modal-footer text-center">
					<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Add Dependent Modal-->

<!-- Edit Dependent Modal-->
<div id="edit_form" class="modal fade custom-modal" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form action="#" enctype="multipart/form-data" autocomplete="off" method="post"> 
				<div class="modal-header">
					<h5 class="modal-title">Edit member</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label mb-10"> Name <span class="text-danger">*</span></label>
						<input type="text" class="form-control" value="Christopher">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Relationship </label>
						<input type="text" class="form-control" value="son">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Gender </label>
						<select class="form-control form-select">
							<option value="">Select</option>
							<option value="Male" selected>Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label mb-10">DOB </label>
						<input type="text" name="dob" id="dep-editdob" value="01/12/2021" readonly="" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label mb-10">Photo </label>
						<input type="file" class="form-control">
					</div>
				</div>
				<div class="modal-footer text-center">
					<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Edit Dependent Modal-->