<!-- Footer -->
			<footer class="footer">
				<div class="container">
					<div class="footer-top">
						<img src="assets/img/logo-min.png" alt="Logo" class="img-fluid">

						<div class="social-icons">
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>

						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Your Email" [(ngModel)]="email">
							<button class="btn btn-primary" type="button" (click)="sendMessage()">Subscribe</button>
						</div>

						<ul class="footer-nav">
              <li>
                <a [routerLink]="'/home'" [fragment]="'services'">Services</a>
              </li>
							<li>
								<a [routerLink]="'patients/search-doctor'">Healers</a>
							</li>
<!--							<li>-->
<!--								<a [routerLink]="'doctor/patients'">Patients</a>-->
<!--							</li>-->
              <li>
                <a [routerLink]="'blog'">Blogs</a>
              </li>
              <li>
                <a [routerLink]="'/home'" [fragment]="'contactus'">Contact us</a>
              </li>
<!--							<li>-->
<!--								<a [routerLink]="'login-page'">Login</a>-->
<!--							</li>-->
							<li>
								<a [routerLink]="'terms-conditions'">Terms & Conditions</a>
							</li>
							<li>
								<a [routerLink]="'privacy-policy'">Privacy Policy</a>
							</li>
						</ul>
					</div>
          <h1 class="invisible">Being Healer the best online and in-person therapy and healing service website in 2024</h1>
					<div class="footer-bottom">
						<p>© 2024 Being Healer | All Rights Reserved.</p>
					</div>
				</div>
			</footer>
			<!-- /Footer -->
