<!-- Breadcrumb -->
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-6 col-6">
<!--				<nav aria-label="breadcrumb" class="page-breadcrumb">-->
<!--					<ol class="breadcrumb">-->
<!--						<li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>-->
<!--						<li class="breadcrumb-item active" aria-current="page">Blog</li>-->
<!--					</ol>-->
<!--				</nav>-->
				<h2 class="breadcrumb-title">Blog List</h2>
			</div>
      <div class="col-md-6 col-6">
        <!-- Search -->
        <div class="card search-widget">
<!--          <div class="card-body">-->
            <form class="search-form">
              <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control" [(ngModel)]="filterTerm" (ngModelChange)="updateItemCount()">
                <!--								<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>-->
              </div>
            </form>
<!--          </div>-->
        </div>
        <!-- /Search -->
      </div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container">

		<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="tabChanged($event)">
			<li [ngbNavItem]="1">
				<a ngbNavLink><h4>All</h4></a>
			</li>
			<ng-container *ngFor="let service of services; let i = index">
				<li [ngbNavItem]="i+2">
					<a ngbNavLink><h5>{{service.service}}</h5></a>
				</li>
			</ng-container>
		</ul>
		<div [ngbNavOutlet]="nav" class="mt-2"></div>

		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="search-results" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="3"
					(scrolled)="onScroll()">
					<!-- Blog Post -->
					<div class="blog" *ngFor="let blog of blogs">
						<div class="blog-image">
							<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}"><img class="img-fluid"
									src="{{blog.img}}" alt="Post Image"></a>
						</div>
						<h3 class="blog-title"><a [routerLink]="'/blog-details'"
								[queryParams]="{id: blog.id}">{{blog.title}}</a></h3>
						<div class="blog-info clearfix">
							<div class="post-left">
								<ul>
									<li>
										<div class="post-author">
											<a [routerLink]="'/patients/doctor-profile'"><img src="{{blog.doctor_pic}}"
													alt="Post Author"> <span>{{blog.doctor_name}}</span></a>
										</div>
									</li>
									<li><i class="far fa-clock"></i>{{blog.createdAt | date: "d MMM yyyy"}}</li>
									<li><i class="far fa-comments"></i>{{blog.comments}} Comments</li>
									<li><i class="fa fa-tags"></i>{{blog.type}}</li>
								</ul>
							</div>
						</div>
						<div class="blog-content">
							<p [innerHTML]="blog.description.slice(0, blog.description.slice(0, 500).lastIndexOf('.'))">
							</p>
							<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}" class="read-more">Read
								More</a>
						</div>
					</div>
					<div class="blog">
						<ng-template [ngTemplateOutlet]="noData"></ng-template>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
				<div class="sticky-grid">
					<!-- Latest Posts -->
					<div class="card post-widget">
						<div class="card-header">
							<h4 class="card-title">Latest Posts</h4>
						</div>
						<div class="card-body">
							<ul class="latest-posts">
								<li *ngFor="let blog of blogs.slice(0,5)">
									<div class="post-thumb">
										<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">
											<img class="img-fluid" [src]="blog.img" alt="">
										</a>
									</div>
									<div class="post-info">
										<h4>
											<a [routerLink]="'/blog-details'"
												[queryParams]="{id: blog.id}">{{blog.title}}</a>
										</h4>
										<p> {{blog.createdAt | date : 'dd MMM yyyy'}}</p>
									</div>
								</li>

							</ul>
							<ng-template [ngTemplateOutlet]="noData"></ng-template>
						</div>
					</div>
					<!-- /Latest Posts -->

					<!-- Categories -->
					<div class="card category-widget">
						<div class="card-header">
							<h4 class="card-title">Blog Categories</h4>
						</div>
						<div class="card-body">
							<ul class="categories" *ngFor="let category of categories | keyvalue">
								<li><a (click)="updateFilterTerm(category.key)">{{category.key}}
										<span>({{category.value}})</span></a></li>
							</ul>
							<ng-template [ngTemplateOutlet]="noData"></ng-template>
						</div>
					</div>
					<!-- /Categories -->

					<!-- Tags -->
					<div class="card tags-widget">
						<div class="card-header">
							<h4 class="card-title">Tags</h4>
						</div>
						<div class="card-body">
							<ul class="tags">
								<li *ngFor="let tag of tags"><a (click)="updateFilterTerm(tag)" class="tag">{{tag}}</a>
								</li>
							</ul>
							<ng-template [ngTemplateOutlet]="noData"></ng-template>
						</div>
					</div>
					<!-- /Tags -->
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #noData>
	<div class=" text-center" *ngIf="blogs.length < 1">No Blogs found</div>
</ng-template>
<!-- /Page Content -->
