<header class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a (click)="home()" class="navbar-brand logo">
        <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a [routerLink]="'/'" class="menu-logo">
          <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <li [class.active]="base === 'home'">
          <a [routerLink]="'/home'">Home</a>
        </li>

        <li
          [class.active]="
            base === 'doctor' ||
            base === 'doctor-register' ||
            (base === 'patients' && page === 'patient-profile')
          "
          class="has-submenu"
          style="cursor: pointer"
        >
          <a>Doctors <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu" id="doctor">
            <li [class.active]="base === 'doctor' && page === 'dashboard'">
              <a (click)="doctor()" [routerLink]="'doctor/dashboard'"
                >Dashboard</a
              >
            </li>
            <li [class.active]="base === 'doctor' && page === 'appointment'">
              <a (click)="doctor()" [routerLink]="'doctor/appointment'"
                >Appointments</a
              >
            </li>
            <li [class.active]="base === 'doctor' && page === 'scheduletiming'">
              <a (click)="doctor()" [routerLink]="'doctor/scheduletiming'"
                >Schedule Timing</a
              >
            </li>
            <li [class.active]="base === 'doctor' && page === 'patients'">
              <a (click)="doctor()" [routerLink]="'doctor/patients'"
                >Patients List</a
              >
            </li>
            <li
              [class.active]="base === 'patients' && page === 'patient-profile'"
            >
              <a (click)="patient()" [routerLink]="'patients/patient-profile'"
                >Patients Profile</a
              >
            </li>
            <li [class.active]="base === 'doctor' && page === 'chat-doctor'">
              <a (click)="doctor()" [routerLink]="'doctor/chat-doctor'">Chat</a>
            </li>
            <li>
              <a (click)="doctor()" [routerLink]="'doctor/invoice'">Invoices</a>
            </li>
            <li [class.active]="base === 'doctor' && page === 'settings'">
              <a (click)="doctor()" [routerLink]="'doctor/settings'"
                >Profile Settings</a
              >
            </li>
            <li [class.active]="base === 'doctor' && page === 'reviews'">
              <a (click)="doctor()" [routerLink]="'doctor/reviews'">Reviews</a>
            </li>
            <li [class.active]="base === 'doctor-register'">
              <a (click)="otherPages('auth')" [routerLink]="'/doctor-register'"
                >Doctor Register</a
              >
            </li>
          </ul>
        </li>
        <li
          [class.active]="
            base === 'map-grid' ||
            base === 'map-list' ||
            base === 'patients' ||
            base === 'change-password'
          "
          class="has-submenu"
        >
          <a>Patients <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu" id="patient">
            <li
              [class.active]="
                url === '/patients/map/list' || url === '/patients/map/grid'
              "
              class="has-submenu"
            >
              <a href="javascript:void(0);">Doctors</a>
              <ul class="submenu">
                <li [class.active]="url === '/patients/map/grid'">
                  <a (click)="patient()" routerLink="patients/map/grid"
                    >Map Grid</a
                  >
                </li>
                <li [class.active]="url === '/patients/map/list'">
                  <a (click)="patient()" routerLink="patients/map/list"
                    >Map List</a
                  >
                </li>
              </ul>
            </li>
            <li
              [class.active]="base === 'patients' && page === 'search-doctor'"
            >
              <a (click)="patient()" [routerLink]="'patients/search-doctor'"
                >Search Doctor</a
              >
            </li>
            <li
              [class.active]="base === 'patients' && page === 'doctor-profile'"
            >
              <a (click)="patient()" [routerLink]="'patients/doctor-profile'"
                >Doctor Profile</a
              >
            </li>
            <li [class.active]="base === 'patients' && page === 'booking'">
              <a (click)="patient()" [routerLink]="'patients/booking'"
                >Booking</a
              >
            </li>
            <li [class.active]="base === 'patients' && page === 'checkout'">
              <a (click)="patient()" [routerLink]="'patients/checkout'"
                >Checkout</a
              >
            </li>
            <li [class.active]="base === 'patients' && page === 'success'">
              <a (click)="patient()" [routerLink]="'patients/success'"
                >Booking Success</a
              >
            </li>
            <li [class.active]="base === 'patients' && page === 'dashboard'">
              <a (click)="patient()" [routerLink]="'patients/dashboard'">
                Patient Dashboard</a
              >
            </li>
            <li [class.active]="base === 'patients' && page === 'favourites'">
              <a (click)="patient()" [routerLink]="'patients/favourites'"
                >Favourites</a
              >
            </li>
            <li [class.active]="base === 'patients' && page === 'message'">
              <a (click)="patient()" [routerLink]="'patients/message'">Chat</a>
            </li>
            <li [class.active]="base === 'patients' && page === 'settings'">
              <a (click)="patient()" [routerLink]="'patients/settings'"
                >Profile Settings</a
              >
            </li>
            <li [class.active]="page === 'change-password'">
              <a (click)="patient()" [routerLink]="'patients/change-password'"
                >Change Password</a
              >
            </li>
          </ul>
        </li>

        <li
          [class.active]="
            url === '/pages/voice-call' ||
            url === '/pages/video-call' ||
            url === '/pages/calender' ||
            url === '/pages/blank' ||
            url === 'login' ||
            url === 'register' ||
            url === 'forgot-password' ||
            (base === 'patients' && page === 'component') ||
            (base === 'doctor' && page === 'invoice') ||
            url === '/pages/invoice-details'
          "
          class="has-submenu"
        >
          <a href="javascript:void(0)"
            >Pages <i class="fas fa-chevron-down"></i
          ></a>
          <ul class="submenu" id="pages">
            <li [class.active]="page === 'voice-call'">
              <a (click)="otherPages('page')" [routerLink]="'pages/voice-call'"
                >Voice Call</a
              >
            </li>
            <li [class.active]="page === 'video-call'">
              <a (click)="otherPages('page')" [routerLink]="'pages/video-call'"
                >Video Call</a
              >
            </li>
            <li [class.active]="page === 'search-doctor'">
              <a (click)="patient()" [routerLink]="'patients/search-doctor'"
                >Search Doctors</a
              >
            </li>
            <li [class.active]="page === 'calender'">
              <a (click)="otherPages('page')" [routerLink]="'pages/calender'"
                >Calendar</a
              >
            </li>
            <li [class.active]="base === 'patients' && page === 'component'">
              <a (click)="patient()" [routerLink]="'patients/component'"
                >Components</a
              >
            </li>
            <li
              [class.active]="
                (base === 'doctor' && page === 'invoice') ||
                base === 'invoice-details'
              "
              class="has-submenu"
            >
              <a href="javascript:void(0)">Invoices</a>
              <ul class="submenu">
                <li [class.active]="base === 'doctor' && page === 'invoice'">
                  <a (click)="doctor()" [routerLink]="'doctor/invoice'"
                    >Invoices</a
                  >
                </li>
                <li [class.active]="base === 'invoice-details'">
                  <a
                    (click)="otherPages('page')"
                    [routerLink]="'pages/invoice-details'"
                    >Invoice View</a
                  >
                </li>
              </ul>
            </li>
            <li [class.active]="page === 'blank'">
              <a (click)="otherPages('page')" [routerLink]="'pages/blank'"
                >Starter Page</a
              >
            </li>
            <li [class.active]="base === 'login'">
              <a (click)="otherPages('auth')" [routerLink]="'login'">Login</a>
            </li>
            <li [class.active]="base === 'register'">
              <a (click)="otherPages('auth')" [routerLink]="'register'">Register</a>
            </li>
            <li [class.active]="base === 'forgot-password'">
              <a (click)="otherPages('auth')" [routerLink]="'forgot-password'">Forgot Password</a>
            </li>
          </ul>
        </li>
        <li
          class="has-submenu"
          [class.active]="
            base === 'blogs' ||
            page == 'list' ||
            page === 'grid' ||
            page === 'details'
          "
        >
          <a href="javascript:void(0)"
            >Blog <i class="fas fa-chevron-down"></i
          ></a>
          <ul class="submenu" id="blog">
            <li [class.active]="page === 'list'">
              <a (click)="otherPages('blog')" [routerLink]="'blogs/list'"
                >Blog List</a
              >
            </li>
            <li [class.active]="page === 'grid'">
              <a (click)="otherPages('blog')" [routerLink]="'blogs/grid'"
                >Blog Grid</a
              >
            </li>
            <li [class.active]="page === 'details'">
              <a (click)="otherPages('blog')" [routerLink]="'blogs/details'"
                >Blog Details</a
              >
            </li>
          </ul>
        </li>
        <li class="has-submenu" [class.active]="base === 'admin'">
          <a (click)="navigate('Admin')">Admin</a>
        </li>
        <li class="login-link">
          <a (click)="otherPages('auth')" [routerLink]="'login'"
            >Login / Signup</a
          >
        </li>
      </ul>
    </div>

    <ul class="nav header-navbar-rht">
      <li class="nav-item contact-item">
        <div class="header-contact-img">
          <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
          <p class="contact-header">Contact</p>
          <p class="contact-info-header">+1 315 369 5943</p>
        </div>
      </li>
      <li [class.active]="base === 'login'" class="nav-item" *ngIf="!auth">
        <a
          class="nav-link header-login"
          (click)="otherPages('auth')"
          [routerLink]="'login'"
          >login / Signup
        </a>
      </li>
      <!-- User Menu -->
      <li class="nav-item dropdown has-arrow logged-item" *ngIf="auth">
        <a
          href="javascript:void(0)"
          class="dropdown-toggle nav-link"
          data-bs-toggle="dropdown"
        >
          <span class="user-img">
            <img
              *ngIf="!isPatient"
              class="rounded-circle"
              src="assets/img/doctors/doctor-thumb-02.jpg"
              width="31"
              alt="Darren Elder"
            />
            <img
              *ngIf="isPatient"
              class="rounded-circle"
              src="assets/img/patients/patient.jpg"
              width="31"
              alt="Richard Wilson"
            />
          </span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          style="right: 0; left: auto"
        >
          <div class="user-header">
            <div class="avatar avatar-sm">
              <img
                *ngIf="!isPatient"
                src="assets/img/doctors/doctor-thumb-02.jpg"
                alt="User Image"
                class="avatar-img rounded-circle"
              />
              <img
                *ngIf="isPatient"
                src="assets/img/patients/patient.jpg"
                alt="User Image"
                class="avatar-img rounded-circle"
              />
            </div>
            <div class="user-text">
              <h6>Fred Ortego</h6>
              <p class="text-muted mb-0" *ngIf="!isPatient">Doctor</p>
              <p class="text-muted mb-0" *ngIf="isPatient">Patient</p>
            </div>
          </div>
          <a
            class="dropdown-item"
            *ngIf="!isPatient"
            (click)="doctor()"
            [routerLink]="'/doctor/dashboard'"
            style="cursor: pointer"
            >Dashboard</a
          >
          <a
            class="dropdown-item"
            *ngIf="!isPatient"
            [routerLink]="'/doctor/settings'"
            style="cursor: pointer"
            >Profile Settings</a
          >
          <a
            class="dropdown-item"
            *ngIf="isPatient"
            (click)="patient()"
            [routerLink]="'/patients/dashboard'"
            style="cursor: pointer"
            >Dashboard</a
          >
          <a
            class="dropdown-item"
            *ngIf="isPatient"
            [routerLink]="'/patients/settings'"
            style="cursor: pointer"
            >Profile Settings</a
          >
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer"
            >Logout</a
          >
        </div>
      </li>
      <!-- /User Menu -->
    </ul>
  </nav>
</header>
