
	<!-- Footer -->
<footer class="footer">
	
	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-about">
						<div class="footer-logo">
							<img src="assets/img/logo.png" alt="logo">
						</div>
						<div class="footer-about-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<div class="social-icon">
								<ul>
									<li>
										<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
									</li>
									<li>
										<a href="#" target="_blank"><i class="fab fa-google-plus-g"></i> </a>
									</li>
									<li>
										<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Footer Widget -->
					
				</div>

				<div class="col-lg-2 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Links</h2>
						<ul>
							<li><a [routerLink]="'login-page'">Login</a></li>
							<li><a [routerLink]="'Register'">Register</a></li>
							<li><a [routerLink]="'blog'">Blogs</a></li>
							<li><a [routerLink]="'terms-conditions'">Terms</a></li>
							<li><a [routerLink]="'privacy-policy'">Privacy Policy</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
				</div>
				
				<div class="col-lg-2 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">For Patients</h2>
						<ul>
							<li><a [routerLink]="'patients/search-doctor'">Search for Doctors</a></li>
							<li><a [routerLink]="'login-page'">Login</a></li>
							<li><a [routerLink]="'Register'">Register</a></li>
							<li><a [routerLink]="'patients/booking'">Booking</a></li>
							<li><a [routerLink]="'patients/dashboard'">Patient Dashboard</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->	
				</div>
				<div class="col-lg-2 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">For Doctors</h2>
						<ul>
							<li><a [routerLink]="'doctor/appointment'">Appointments</a></li>
							<li><a [routerLink]="'doctor/message'">Chat</a></li>
							<li><a [routerLink]="'login-page'">Login</a></li>
							<li><a [routerLink]="'doctor/doctor-register'">Register</a></li>
							<li><a [routerLink]="'doctor/dashboard'">Doctor Dashboard</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- /Footer Top -->
	
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container-fluid">

			<div class="download-app">
				<ul>
					<li>
						<p>Download Optometrycare App On : </p>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/play-store.png" alt="Play Store" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/app-store.png" alt="App Store" />
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- /Footer Bottom -->
	
</footer>
<!-- /Footer -->