<!-- Home Banner -->
<section class="section home-banner">
  <div class="container-fluid">
    <div class="row banner-wrapper">
      <div class="col-md-12">
        <div class="banner-header">
          <!--								<h1>Being Healer</h1>-->
          <!--								<h3>It is time for a better life</h3>-->
          <!--								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indstandard dummy text ever</p>-->
          <!--								<a class="btn btn-primary mt-10 me-1">Read More</a>-->
          <a
            (click)="showContactModalWindow($event)"
            class="btn btn-primary mt-3"
            >Contact Us</a
          >
          <!--                <div class="row">-->
          <!--                  <p>Convenient, affordable, private, in-person or online healing anytime, anywhere</p>-->
          <!--                </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Home Banner -->

<!-- Our Benefits -->
<!--			<section class="our-benefits">-->
<!--				<div class="row m-0">-->
<!--					<div class="col-md-12 col-lg-6 benefits-text">-->
<!--						<h3 class="top-title">Our Benefits</h3>-->
<!--						<h2 class="section-title">Choose Our Physcatrist Treatment for Your Solutions</h2>-->
<!--						<p class="mb-4">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>-->

<!--						<div class="row">-->
<!--							<div class="col-md-6 mb-3">-->
<!--								<h4>BEST PROCEDURES</h4>-->
<!--								<p class="para-text mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
<!--							</div>-->
<!--							<div class="col-md-6 mb-3">-->
<!--								<h4>ANALYZING TOGETHER</h4>-->
<!--								<p class="para-text mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
<!--							</div>-->
<!--							<div class="col-md-6 mb-3">-->
<!--								<h4>UNDERSTANDING YOU</h4>-->
<!--								<p class="para-text mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
<!--							</div>-->
<!--							<div class="col-md-6 mb-3">-->
<!--								<h4>LIGHT AT THE END</h4>-->
<!--								<p class="para-text mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-md-12 col-lg-6 p-0">-->
<!--						<div class="bene-img">-->
<!--							<img src="assets/img/our-benefits.png" alt="Our Benefits" class="img-fluid" />-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</section>-->
<!-- /Our Benefits -->

<!-- Our Solutions -->
<section class="our-solutions">
  <div class="container">
    <h2 class="section-title">WE HEAL YOU TO:</h2>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
          <h5
            data-bs-toggle="collapse"
            data-bs-target="#problem1"
            role="button"
          >
            Cure Phobias
          </h5>
          <div id="problem1" class="collapse">
            <p>
              Overcome your biggest fears and phobias allowing you to live a
              better life
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
          <h5
            data-bs-toggle="collapse"
            data-bs-target="#problem2"
            role="button"
          >
            Overcome Anxiety
          </h5>
          <div id="problem2" class="collapse">
            <p>
              Reduce stress and anxiety and focus on a more relaxing and
              productive life
            </p>
          </div>
          <!--                <a href="#" class="read-more-text">Read more</a>-->
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
          <h5
            data-bs-toggle="collapse"
            data-bs-target="#problem3"
            role="button"
          >
            Manage Emotions
          </h5>
          <div id="problem3" class="collapse">
            <p>
              Manage waves of emotion, physical symptoms and to help gain
              closure
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
          <h5
            data-bs-toggle="collapse"
            data-bs-target="#problem4"
            role="button"
          >
            Gain Confidence
          </h5>
          <div id="problem4" class="collapse">
            <p>
              Build a foundation of confidence, which enables you to be the
              person you really wish to be.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
          <h5
            data-bs-toggle="collapse"
            data-bs-target="#problem5"
            role="button"
          >
            Fix Relationships
          </h5>
          <div id="problem5" class="collapse">
            <p>
              Create healthier relationships. Break unwanted patterns and see
              relationships through new eyes
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
          <h5
            data-bs-toggle="collapse"
            data-bs-target="#problem6"
            role="button"
          >
            Manage Addiction
          </h5>
          <div id="problem6" class="collapse">
            <p>
              If you are ready to quit addiction, then it can be much easier
              than you think
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Our Solutions -->

<!-- /Services -->
<section class="service-section">
  <div class="container">
    <!-- Section Header -->
    <div class="section-header text-center">
      <h2>How We <span class="text-blue">Heal</span></h2>
      <p class="sub-title">
        Being Healer offers online and in-person holistic healing. Being Healer
        provides convenient, reliable, and affordable healing sessions through
        our licenced healers.
        <br /><br />Do you sometimes feel confused, stuck, unable to progress
        and sabotage yourself? <br />Being Healer offers different therapy
        techniques to help clients understand <b>why</b> is it happening,
        <b>what</b> the root causes are, and <b>how</b> to get healed. Like,
        Hypnotherapy helps people to connect with the subconscious mind,
        allowing them to get to the bottom of ingrained habits and the causes of
        recurring problems. When you understand your false core beliefs and how
        they affect your lives, then your healing begins.
      </p>
    </div>
    <!-- /Section Header -->
    <div class="row justify-content-center" id="services">
      <div class="col-12 col-lg-12 col-md-12">
        <div class="service-wrapper">
          <div class="service-tabs">
            <ul class="nav nav-tabs nav-tabs-solid nav-justified">
              <li
                class="nav-item"
                *ngFor="let service of services; let i = index"
              >
                <a
                  class="nav-link"
                  [ngClass]="{ active: i === 0 }"
                  href="#solid-justified-tab{{ i + 1 }}"
                  data-bs-toggle="tab"
                  >{{ service.title }}
                </a>
              </li>
              <!--                <li class="nav-item">-->
              <!--                  <a class="nav-link"  href="#solid-justified-tab-other" data-bs-toggle="tab">Other Therapies-->
              <!--                  </a>-->
              <!--                </li>-->
            </ul>
            <div class="tab-content">
              <div
                *ngFor="let service of services; let i = index"
                class="tab-pane show"
                [ngClass]="{ active: i === 0 }"
                id="solid-justified-tab{{ i + 1 }}"
              >
                <div
                  *ngIf="!service.nestedServices"
                  class="row align-items-center"
                >
                  <div class="col-12 col-md-6">
                    <img
                      src="{{ service.image }}"
                      class="tab-img"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="col-12 col-md-6">
                    <h3>{{ service.title }}</h3>
                    <p [innerHTML]="service.description"></p>
                    <a
                      (click)="navigateToBlogGridSearchResult(service.service)"
                      class="btn-gradient"
                      role="button"
                      >Get More Details</a
                    >
                  </div>
                </div>

                <div
                  *ngIf="service.nestedServices"
                  class="row align-items-center"
                >
                  <div class="justify-content-center" id="other-services">
                    <div class="col-12 col-lg-12 col-md-12">
                      <div class="service-wrapper">
                        <div class="service-tabs">
                          <ul
                            class="nav nav-tabs nav-tabs-solid nav-justified nav-inner-tabs"
                          >
                            <li
                              class="nav-item"
                              *ngFor="
                                let nestedService of service.nestedServices;
                                let j = index
                              "
                            >
                              <a
                                class="nav-link"
                                [ngClass]="{ active: j === 0 }"
                                href="#solid-justified-inner-tab-{{ i + 1 }}-{{
                                  j + 1
                                }}"
                                data-bs-toggle="tab"
                                >{{ nestedService.title }}
                              </a>
                            </li>
                          </ul>
                          <div class="tab-content inner-tab">
                            <div
                              *ngFor="
                                let nestedService of service.nestedServices;
                                let j = index
                              "
                              class="tab-pane show"
                              [ngClass]="{ active: j === 0 }"
                              id="solid-justified-inner-tab-{{ i + 1 }}-{{
                                j + 1
                              }}"
                            >
                              <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                  <img
                                    src="{{ nestedService.image }}"
                                    class="tab-img"
                                    alt=""
                                    loading="lazy"
                                  />
                                </div>
                                <div class="col-12 col-md-6">
                                  <!--                                <h3>{{service.title}}</h3>-->
                                  <p
                                    [innerHTML]="nestedService.description"
                                  ></p>
                                  <a
                                    (click)="
                                      navigateToBlogGridSearchResult(
                                        nestedService.service
                                      )
                                    "
                                    class="btn-gradient"
                                    role="button"
                                    >Get More Details</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--                <div class="tab-pane show"  id="solid-justified-tab-other">-->
              <!--                  <div class="row align-items-center">-->

              <!--                <div class="justify-content-center" id="other-services">-->
              <!--                  <div class="col-12 col-lg-12 col-md-12">-->
              <!--                    <div class="service-wrapper">-->
              <!--                      <div class="service-tabs">-->
              <!--                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">-->
              <!--                          <li class="nav-item">-->
              <!--                            <a class="nav-link" [ngClass]="'active'" href="#solid-justified-tab-other1" data-bs-toggle="tab">"Other 1-->
              <!--                            </a>-->
              <!--                          </li>-->
              <!--                          <li class="nav-item">-->
              <!--                            <a class="nav-link"  href="#solid-justified-tab-other2" data-bs-toggle="tab">Other 2-->
              <!--                            </a>-->
              <!--                          </li>-->
              <!--                          <li class="nav-item">-->
              <!--                            <a class="nav-link"  href="#solid-justified-tab-other3" data-bs-toggle="tab">Other 3-->
              <!--                            </a>-->
              <!--                          </li>-->
              <!--                        </ul>-->
              <!--                        <div class="tab-content inner-tab">-->
              <!--                          <div  [ngClass]="'tab-pane show active'" id="solid-justified-tab-other1">-->
              <!--                            <div class="row align-items-center">-->
              <!--                              <div class="col-12 col-md-6">-->
              <!--                                <img src="assets/img/service-img1.jpg" class="tab-img" alt="">-->
              <!--                              </div>-->
              <!--                              <div class="col-12 col-md-6">-->
              <!--&lt;!&ndash;                                <h3>{{service.title}}</h3>&ndash;&gt;-->
              <!--                                <p [innerHTML]="'description of the service goes here'"></p>-->
              <!--&lt;!&ndash;                                <a  (click)="navigateToBlogGridSearchResult(service.service)" class="btn-gradient" role="button">Get More Details</a>&ndash;&gt;-->
              <!--                              </div>-->
              <!--                            </div>-->
              <!--                          </div>-->
              <!--                          <div class="tab-pane show" id="solid-justified-tab-other2">-->
              <!--                            <div class="row align-items-center">-->
              <!--                              <div class="col-12 col-md-6">-->
              <!--                                <img src="assets/img/service-img2.jpg" class="tab-img" alt="">-->
              <!--                              </div>-->
              <!--                              <div class="col-12 col-md-6">-->
              <!--                                &lt;!&ndash;                                <h3>{{service.title}}</h3>&ndash;&gt;-->
              <!--                                <p [innerHTML]="'description of the service 2 goes here'"></p>-->
              <!--                                &lt;!&ndash;                                <a  (click)="navigateToBlogGridSearchResult(service.service)" class="btn-gradient" role="button">Get More Details</a>&ndash;&gt;-->
              <!--                              </div>-->
              <!--                            </div>-->
              <!--                          </div>-->
              <!--                          <div class="tab-pane show" id="solid-justified-tab-other3">-->
              <!--                            <div class="row align-items-center">-->
              <!--                              <div class="col-12 col-md-6">-->
              <!--                                <img src="assets/img/service-img3.jpg" class="tab-img" alt="">-->
              <!--                              </div>-->
              <!--                              <div class="col-12 col-md-6">-->
              <!--                                &lt;!&ndash;                                <h3>{{service.title}}</h3>&ndash;&gt;-->
              <!--                                <p [innerHTML]="'description of the service 2 goes here'"></p>-->
              <!--                                &lt;!&ndash;                                <a  (click)="navigateToBlogGridSearchResult(service.service)" class="btn-gradient" role="button">Get More Details</a>&ndash;&gt;-->
              <!--                              </div>-->
              <!--                            </div>-->
              <!--                          </div>-->
              <!--                        </div>-->
              <!--                      </div>-->
              <!--                    </div>-->
              <!--                  </div>-->

              <!--                </div>-->

              <!--                  </div>-->
              <!--                </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Services -->

<!-- Speak to Expert -->
<section class="speak-expert">
  <div class="row m-0">
    <div class="col-md-12 col-lg-6 p-0" id="contactus">
      <div class="speak-expert-img">
        <img
          src="assets/img/speak-expert.jpg"
          alt="Speak to Expert"
          class="img-fluid"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col-md-12 col-lg-6 speak-expert-text">
      <h2 class="section-title">Speak to a healer now</h2>
      <p class="mt-2">
        Your first healing session is on us. We understand the importance of
        taking the first step.
      </p>

      <p class="mt-2">That’s why your first healing session with us is FREE.</p>
      <div>
        <a
          (click)="showContactModalWindow($event)"
          class="btn btn-secondary mt-3"
          >Contact Us</a
        >
      </div>
    </div>
  </div>
</section>
<!-- /Speak to Expert -->

<!-- Creates the bootstrap modal where the contact us form will appear -->
<div
  [style.display]="showContactModal ? 'block' : 'none'"
  class="modal"
  id="contactmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contactModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content contact-modal-content">
      <div class="modal-header contact-modal-header">
        <h4 class="modal-title" id="contactModalLabel">Contact us</h4>
        <button
          type="button"
          class="btn btn-default m-r-0"
          data-dismiss="modal"
          (click)="hideContactModalWindow()"
        >
          Close
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div>
            <label>Name <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="name"
            />
          </div>
          <div>
            <label>Your Email Address <span class="text-danger">*</span></label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div>
            <label>Message <span class="text-danger">*</span></label>
            <textarea
              rows="4"
              class="form-control"
              name="usercomment"
              [(ngModel)]="usercomment"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer contact-modal-footer">
        <button
          class="btn btn-primary submit-btn"
          type="submit"
          (click)="sendMessage()"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="hideContactModalWindow()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Our Client Say's -->

<!-- Our Team -->
<!--			<section class="our-team">-->
<!--				<div class="container">-->
<!--					<h3 class="top-title">Qualified Professional</h3>-->
<!--					<h2 class="section-title">Our Team</h2>-->
<!--					<div class="row mt-5">-->
<!--						<div class="col-sm-6 col-md-3">-->
<!--							<div class="card">-->
<!--								<img src="assets/img/our-team-01.jpg" class="card-img-top" alt="Our Team">-->
<!--								<div class="card-body">-->
<!--								  <a class="card-title" [routerLink]="'/patients/doctor-profile'">John Wolff</a>-->
<!--								  <p class="card-text">Chief Psychiatrist</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-sm-6 col-md-3">-->
<!--							<div class="card">-->
<!--								<img src="assets/img/our-team-02.jpg" class="card-img-top" alt="Our Team">-->
<!--								<div class="card-body">-->
<!--								  <a class="card-title" [routerLink]="'/patients/doctor-profile'">Gordon Johnson</a>-->
<!--								  <p class="card-text">Chief Psychiatrist</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-sm-6 col-md-3">-->
<!--							<div class="card">-->
<!--								<img src="assets/img/our-team-03.jpg" class="card-img-top" alt="Our Team">-->
<!--								<div class="card-body">-->
<!--								  <a class="card-title" [routerLink]="'/patients/doctor-profile'">Lisa Clark</a>-->
<!--								  <p class="card-text">Chief Psychiatrist</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-sm-6 col-md-3">-->
<!--							<div class="card">-->
<!--								<img src="assets/img/our-team-01.jpg" class="card-img-top" alt="Our Team">-->
<!--								<div class="card-body">-->
<!--								  <a class="card-title" [routerLink]="'/patients/doctor-profile'">John Wolff</a>-->
<!--								  <p class="card-text">Chief Psychiatrist</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</section>-->
<!-- /Our Team -->

<!-- Our Doctors -->
<section class="section our-doctors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center">
        <h2 class="section-title">Our Healers</h2>
        <p>
          Holistic healers are an open vessel for all people from all walks of
          life. Our healers believe in empowering people to take care of their
          own health holistically and consciously. Our certified therapists work
          with you using energy healing modalities like Hypnotherapy, PLR, Theta
          healing, Reiki, Family Constellation etc.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="doctor-slider slider">
          <ngx-slick-carousel
            class="carousel"
            #slickModal3="slick-carousel"
            [config]="slideConfig3"
          >
            <div ngxSlickItem *ngFor="let doctor of doctors">
              <!-- Doctor Widget -->
              <div class="doc-profile-widgets">
                <div class="doc-img">
                  <a
                    [routerLink]="'/patients/doctor-profile'"
                    [queryParams]="{ id: doctor.id }"
                  >
                    <img
                      class="img-fluid"
                      alt="User Image"
                      [src]="doctor.profile"
                      loading="lazy"
                    />
                  </a>
                </div>
                <div class="card">
                  <div class="pro-content">
                    <h3 class="title">
                      <a
                        [routerLink]="'/patients/doctor-profile'"
                        [queryParams]="{ id: doctor.id }"
                        >{{ doctor.doctor_name }}</a
                      >
                    </h3>
                    <p class="speciality">{{ doctor.Education }}</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="far fa-star filled"></i>
                      <span class="d-inline-block average-rating">{{
                        doctor.reviews
                      }}</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i
                        >{{ doctor.location }}
                      </li>
                      <li>
                        <i class="fas fa-calendar-check"></i>
                        {{ doctor.Available }}
                      </li>
                      <li>
                        <i class="fas fa-wallet"></i>
                        {{ doctor.consulting_fees }}
                      </li>
                    </ul>
                  </div>
                  <div class="card-btn">
                    <a
                      [routerLink]="'/patients/doctor-profile'"
                      [queryParams]="{ id: doctor.id }"
                      class="btn btn-view"
                    >
                      View Profile
                    </a>

                    <!-- Added queryParams to the "Book Now" button -->
                    <a
                      [routerLink]="'/patients/booking'"
                      [queryParams]="{ id: doctor.id }"
                      class="btn btn-book-now"
                    >
                      Book Now
                    </a>
                  </div>
                </div>
              </div>
              <!-- /Doctor Widget -->
            </div>
          </ngx-slick-carousel>
        </div>
        <div class="col-12 col-md-12 text-center pt-3">
          <a [routerLink]="'/patients/search-doctor'" class="view-all"
            >View All</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Our Doctors -->

<!-- Our Client Says -->
<section class="client-says">
  <div class="container">
    <div class="text-center w-80">
      <h2 class="section-title">Our Client Says</h2>
      <p>
        See our client testimonials below. Please click the image below to view
        the original testimonial.
      </p>
    </div>

    <div id="carouselExampleIndicators" class="carousel">
      <ol class="carousel-indicators">
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="5"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="6"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="7"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="8"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="9"
        ></li>
        <li
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="10"
        ></li>
      </ol>
      <div class="carousel-inner">
        <!-- Item 1 -->
        <div class="carousel-item active">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-01.jpeg"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>A Gupta</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              I felt very low, unhappy, uneasy, a feeling of sinking and
              restlessness. A feeling of guilt overtook me. I consulted a very
              good psychiatrist from Delhi, who put me on light medicines.
              Luckily my friend took me home and did Reiki sessions on me and
              also introduced me to Anita for Hypnotherapy/Bars counselling
              sessions. The result were immediate. I could feel lighter and
              positive after each session. The sessions were long and Anita made
              lots of selfless effort to pull me back from the Abyss, I had
              fallen into…
            </p>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-02.jpg"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>Unnamed</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              Since 20 years I was suffering from cold, cough, water flowing
              from nose and sinus, but after sufficient sessions my troubles
              have been solved. My husband was also suffering from Hernia and
              severe back pain, but after getting proper treatment the troubles
              are now totally solved.
            </p>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-03.jpg"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>Kalpana & Ajay Pathak</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              During the sessions we started realising Positive results in our
              personal and social life. Today, we have been enjoying our life in
              full fledged way. We don’t have any problems now
            </p>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-04.jpg"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>Vijay Vishwanathan</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              I know ma'am since 3 years. She is a wonderful healer and she is
              taking sessions frequently and I as a person has evolved a lot and
              lots by releasing unwanted baggage's (not knowing my boundaries,
              unwanted emotions like anger, jealousness, anxieties , arrogance
              and frustration and irritation) has got released. I was having
              lots of issues and was feeling that now I am 45 years and have
              become old and due to which I consumed lots of medicines in order
              to solve my health issues but due to madam's sessions now I am
              able to stay healthy every day and lots of health issues like
              piles, nerve blockage in my brain, migraine, daily headaches and
              breathing issue like isnophilia, high blood pressure, too much of
              anxieties, traffic jammed thoughts and too much worrying about my
              deared ones has come under control and the diseases has got 100
              percent released from my body
            </p>
          </div>
        </div>
        <!-- Item 5 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-05.png"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>Benish Fatima</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              I came in contact with Ms.Anita in 2019 with loads of problems
              surrounding me. Two of the most important problems were: Childless
              since 10years and my pending Master’s degree. Had several sessions
              with her and she dealt with me with full concentration and faith
              that these problems can be solved. I had already done 2 IVFs and 6
              IUIs all of which has failed before meeting Ms.Anita. The
              therapies were totally new to me and I didn’t know it would work
              wonders. With all her Faith, determination and dedication, I
              conceived twins (a boy and a girl) in 2021 who are now 10months
              old. Completed by Masters in parallel to the pregnancy. All of the
              credit goes to Anita auntie and her therapies. She Masters Reiki,
              Redikall healing and many more beyond one’s extend. Blessed to
              have her as a part in my life’s journey. Thank you once again
              Ms.Anita.
            </p>
          </div>
        </div>
        <!-- Item 6 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-06.png"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>Amit Misra</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              My Name is Amit Mishra, I am an actor, writer and voice over
              artist. I have never seen a continuity. Things start and all of a
              sudden come to a halt abruptly. And for last 10 years or so it has
              been more of wondering than to a clear path/journey.<br />
              Anita Ma’am took 3-4 sessions and helped me in knowing/identifying
              the actual cause of the problem and also how to clean and heal
              it.<br />
              It’s been around 2 months now; things are smooth and positive. I
              completed my 1st book (Besabab) collection of my poems and its out
              now. I wrote 4 short stories in just 15 days. I am very positive,
              stable in thoughts and getting new ideas and work inquiries. It
              seems to be a dream now, in just 3-4 sessions things have turned
              so great and positive. I would like to thanks Anita Ma’am for
              this. She is a great healer and a lovely human being, with her
              guidance and healing sessions, my attitude towards life has
              changed a lot....
            </p>
          </div>
        </div>
        <!-- Item 7 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-07.jpeg"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>Dipti Verma</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              Had lots of anxiety, stress, unknown fear on family relations &
              professional front. Was confused, stressed & affecting my health.
              Was looking out for a solution for someone to hold my hands,
              someone to guide me.<br />
              Got in touch with Anita Ma'am. Initially I was a bit confused. Had
              lots of questions in mind. Once I started taking sessions, trust
              me, life's motivation changed. I am a very calm & relaxed person
              now. My relations & my financials have grown towards betterment.
              Thanks to her sessions & am looking forward to many more sessions.
              It is very helpful!
            </p>
          </div>
        </div>
        <!-- Item 8 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-08.jpeg"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>Vijey</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              I was having unwanted fears, anxieties and confusion in leading my
              family life from childhood and lots of hinderances in my daily
              activities. My sessions with being Healer has made me much
              relaxed, calm and peaceful with so much clarity that I am able to
              do my daily activities very smoothly. Thanks a ton Being Healer!
            </p>
          </div>
        </div>
        <!-- Item 9 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-09.jpeg"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>A Ram</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              I was having unknown fear and confusion for years, an obstacle in
              my day to day life. My session with Being Healer has made me much
              relaxed a gave a meaningful life to me. Thak you Being Healer!
            </p>
          </div>
        </div>
        <!-- Item 10 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-10.png"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>A Ram</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              I have taken many sessions from Anita Sachdeva Ji. She is very
              good and unique. She use always different therapy technique and
              help me to resolve my mental blockages. Her therapies is
              transforming my small self to my bigger self. I m growing in
              career, my relationship are becoming loveable and my financial
              condition is improving. Thanks Anita ji
            </p>
          </div>
        </div>
        <!-- Item 11 -->
        <div class="carousel-item">
          <div class="card-testi">
            <img
              src="assets/img/testimonial/testi-11.jpeg"
              class="d-block"
              alt="..."
              (click)="show($event)"
              loading="lazy"
            />
            <h4>Arijit Patra</h4>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
            <p>
              Dear Anita Ji, When I contacted you, I was mentally disturbed by
              my boss. I was always thinking that he had one task only and that
              is to disturb me. I was thinking to quit my job and a lot more.
              But after continuous therapy now I am cool and relaxed. One job is
              in my hand now which was my dream job. and i am expecting 2- 3
              more Offer letters. And also I had a good conversation with my
              boss and I was very confident to talk to him. He appreciated me. I
              am really thankful to you! Stay blessed! With lots of love and
              Hug!
            </p>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- Creates the bootstrap modal where the image will appear -->
<div
  [style.display]="showModal ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">User Review</h4>
        <button
          type="button"
          class="btn btn-default m-r-0"
          data-dismiss="modal"
          (click)="hide()"
        >
          Close
        </button>
      </div>
      <div class="modal-body">
        <img
          [src]="modalPath"
          id="imagepreview"
          style="width: 100%"
          loading="lazy"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Our Client Say's -->

<!-- Count Info -->
<div class="count-info">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3">
        <h2 class="white-text">560+</h2>
        <h6 class="white-text mb-0">Satisfied Patients</h6>
      </div>
      <div class="col-md-3 mb-3">
        <h2 class="white-text">17+</h2>
        <h6 class="white-text mb-0">Professional Doctors</h6>
      </div>
      <div class="col-md-3 mb-3">
        <h2 class="white-text">100%</h2>
        <h6 class="white-text mb-0">Person's Care</h6>
      </div>
      <div class="col-md-3 mb-3">
        <h2 class="white-text">10</h2>
        <h6 class="white-text mb-0">Years Experience</h6>
      </div>
    </div>
  </div>
</div>
<!-- Count Info -->

<!-- News and Events -->
<section class="news-events">
  <div class="container">
    <!--					<h3 class="top-title text-center">Being Healer</h3>-->
    <h2 class="section-title text-center">Blogs from our Healers</h2>

    <!--          <div class="row blog-grid-row" *ngIf="blogs">-->
    <!--            <div class="col-md-6 col-sm-12" *ngFor="let blog of blogs.slice(0,4)">-->

    <!--              &lt;!&ndash; Blog Post &ndash;&gt;-->
    <!--              <div class="blog grid-blog">-->
    <!--                <div class="blog-image">-->
    <!--                  <a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}"><img class="img-fluid" src="{{blog.img}}" alt="Post Image"></a>-->
    <!--                </div>-->
    <!--                <div class="blog-content">-->
    <!--                  <ul class="entry-meta meta-item">-->
    <!--                    <li>-->
    <!--                      <div class="post-author">-->
    <!--                        <a [routerLink]="'/patients/doctor-profile'"><img src="{{blog.doctor_pic}}" alt="Post Author"> <span>{{blog.doctor_name}}</span></a>-->
    <!--                      </div>-->
    <!--                    </li>-->
    <!--                    <li><i class="far fa-clock"></i>{{blog.createdAt | date: "d MMM yyyy"}}</li>-->
    <!--                  </ul>-->
    <!--                  <h3 class="blog-title"><a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">{{blog.title}}</a></h3>-->
    <!--                  <p class="mb-0" [innerHTML] = "blog.description.slice(0,blog.description.indexOf('<br'))"></p>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              &lt;!&ndash; /Blog Post &ndash;&gt;-->

    <!--            </div>-->
    <!--          </div>-->

    <div class="row mt-5" *ngIf="blogs">
      <div class="col-md-4" *ngFor="let blog of blogs.slice(0, 3)">
        <div class="card">
          <img
            src="{{ blog.img }}"
            class="card-img-top"
            alt="News and Events"
            loading="lazy"
          />
          <div class="card-body">
            <h5 class="card-title">{{ blog.type }}</h5>
            <h3>{{ blog.title }}</h3>
            <p
              class="card-text"
              [innerHTML]="
                blog.description.slice(
                  0,
                  blog.description.slice(0, 500).lastIndexOf('.')
                )
              "
            ></p>
            <h6>Posted By: {{ blog.doctor_name }}</h6>
            <a
              [routerLink]="'/blog-details'"
              [queryParams]="{ id: blog.id }"
              class="read-more-text"
              >Read more</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 mb-3">
      <a [routerLink]="'/blog'" class="btn btn-primary">MORE BLOG</a>
    </div>
  </div>
</section>
<!-- /News and Events -->
